 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: 'Montserrat', sans-serif;
 }
 .banner {
    width :100%;
    height : 100vh;
    background: url("/src/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }
 .banner__content{
   display: flex;
   align-items: center;
   height: 100vh;
   color: white;
 }
 .container{
   width: 1200px;
   max-width: 1200px;
   margin: 0 auto;
   
 }
 .banner__text{
   width: 500px;
   
 }
 .banner__text h3{
   font-size: 50px;
   line-height: 35px;
   font-weight: 900;
 }
 .banner__text h1{
   font-size: 80px;
   line-height: 80px;
   margin-top: 20px;
 }
 .banner__text p{
   font-size: 25px;
   font-weight: 400;
   margin-top: 20px;
 }
 .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  
 }
 .navbar__text {
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  
 }
 .logo{
  width: 40%;

 }
 .logo img{
  width: 220px;
 }
 .navbar__ul{
  width: 60%;
  list-style-type: none ;
  display: flex;
  justify-content: flex-end ; 
 }
 .navbar__ul li a{
  text-decoration: none;
  color: white;
  padding: 0 15px; 
  font-weight: 800;
  text-transform: uppercase;
 }
 .banner__text{
  margin-top: 35px;
 }
 .btn {
  text-decoration: none;
  border: none;
  outline: none;
  color:rgb(169, 41, 41);
  font-weight: 700;
  border-radius: 30px;
  font-size: 18px;
  padding: 20px 40px;
 }
.about{
  padding: 80px 0; 
}
.p-25{
  padding: 45px;
}
.row{
  width: 100%;
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;

  
}
.col-6{
  width: 50%;

}
.about h3{
  color: rgba(37, 37, 37, 0.7);
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}
.about h1{
  color: black;
  font-size: 40;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}
.about p{
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 300;
}
.about__btn{ 
  margin-top: 45;

}
.about__img{
  width: 100%;
  overflow: hidden;
}
.about__img img{
  width: 100%;
   
}
.shop{
  width: 100%;
  background: url(/src/img/bg.jpg);
  height: 450px;
  background-attachment: fixed;
}
.shop__text{
  height: 450px;
  display: flex;
  align-items: center;
  width: 450;
  justify-content: safe;
  margin: 0 auto;
  color: white ;
}
.shop__text h1{
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}
.shop__btn{
  margin-top: 15px;
}
.clients{
  width: 100%;
  padding: 100px 0;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 25px;

}
.col-3{
   width: 35%;
}
.clients{
  text-align: center;
}
.clients h1{
  font-size: 45px;
}
.clients p{
  font-style: 18px;
  font-style: oblique;
  font-weight: 400;
  margin-top: 8px;
  align-items: center;
}
.price{
  width: 100%;
  padding: 80px 0;
  
}
.col-4{
  width: 33.33333333333333%;
} 
.price{
    padding: 20px;
    text-align: center;
    
}
.price__img{
  width: 100%;
  
}
.price__img img{
  width: 250px;
  
}
.price__heading {
  margin-top: 20px;
  font-size: 25 px;
}
.price__text{
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
  font-weight: 300;
  
}
.price_rs{
  font-size: 25px;
  margin-top: 15px;

}
@media(max-width: 600px){
  .navbar__text {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
   }
   .container{
    width: 100%;
    padding: 0 30px;
  }
  .banner__text{
    width: auto;
    
  }
  .banner__text h3{
    font-size: 25px !important;
    
  }
  .banner__text h1{
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
    margin-top: 20px;
  }
  .banner__text p{
    font-size: 25px;
    font-weight: 400; 
    margin-top: 20px;
  } 
  .navbar__ul{
    width: 100%;
    justify-content: center;
  }
  .navbar__ul li a{
    text-decoration: none;
    color: white;
    padding: 0 10px; 
    font-weight: 300;
    text-transform: uppercase;
   }
  .col-3,
  .col-4,
  .col-6{
    width: 100%;
  }
  .client {
    margin: 20px 0  ;
  }
  .about h1{
    font-size: 25px;
  }
  .shop h1{
    font-size: 25px;
  }
  .menu h1{
    font-size: 25px;

  }
}
.aboutus{
  background-color: black;
  color: white;
  width: 100%;
  height: 300;
  margin: 20;
  text-align: left;
}
